html {
  height: 100%;
}

html body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #4d4c4a;
  background-color: #e5d7bf;
  height: 100%;
}

html body .header-acc {
  padding-top: 2rem;
  margin-right: 1rem;
}

html body .header-acc .lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 0.5rem;
}

html body .header-acc .lang .flags-logo {
  max-width: 35px;
  height: 20px;
}

html body .header-slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #708468;
  border-radius: 0% 0% 50%;
  height: 6rem;
  width: 100%;
  margin-top: -3rem;
}

html body .header-slides .flags-logo {
  max-width: 35px;
  height: auto;
  margin-top: 3rem;
  margin-left: 1rem;
}

html body .main-acc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 5rem;
  width: 100%;
  height: 30rem;
}

html body .main-acc .desc-app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  width: 100%;
  height: 10rem;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: -1px 6px 11px -4px rgba(0, 0, 0, 0.75);
          box-shadow: -1px 6px 11px -4px rgba(0, 0, 0, 0.75);
}

html body .main-acc .desc-app .flags-logo {
  max-width: 50px;
  height: auto;
  background-color: transparent;
}

html body .main-acc .QR-zone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 8rem;
  height: 8rem;
  top: 10rem;
  margin-bottom: 5rem;
}

html body .main-slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.5rem;
  height: 100%;
  width: 100%;
}

html body .main-slides .swiper {
  -webkit-box-shadow: -1px 6px 11px -4px rgba(0, 0, 0, 0.75);
          box-shadow: -1px 6px 11px -4px rgba(0, 0, 0, 0.75);
  height: 12rem;
  margin-top: 0.5rem;
  text-align: center;
}

html body .main-slides .swiper .swiper-image {
  width: 100%;
  max-height: auto;
}

html body .main-slides .image-slide {
  -webkit-box-shadow: -1px 6px 11px -4px rgba(0, 0, 0, 0.75);
          box-shadow: -1px 6px 11px -4px rgba(0, 0, 0, 0.75);
  height: 12rem;
  margin-top: 0.5rem;
  text-align: center;
}

html body .main-slides .image-slide .swiper-image {
  width: 100%;
  max-height: auto;
}

html body .main-slides .textzone-slides {
  height: auto;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: -1px 6px 11px -4px rgba(0, 0, 0, 0.75);
          box-shadow: -1px 6px 11px -4px rgba(0, 0, 0, 0.75);
  margin-bottom: 7rem;
}

html body .main-slides .textzone-slides .text-slides {
  text-align: justify;
  padding: 0.5rem 0.5rem 0 0.5rem;
  font-size: 0.8rem;
}

html body .main-slides .next-slides {
  margin-top: -7rem;
  width: 5rem;
  height: 2.5rem;
  font-size: 1rem;
  border: none;
  background-color: #708468;
}

html body .quizz-slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80%;
  width: 100%;
}

html body .quizz-slides .quizz-placement {
  width: 90%;
}

html body .quizz-slides .quizz-placement h3 {
  font-size: 1.5rem;
  text-align: center;
}

html body .quizz-slides .quizz-placement .quizz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 10rem;
}

html body .quizz-slides .quizz-placement .quizz .btn-quizz {
  margin: 0.5rem;
  width: 5rem;
  height: 5rem;
  font-size: 1rem;
  border: none;
  background-color: #708468;
}

html body .end-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  height: 100%;
  width: 100%;
  gap: 0.5rem;
}

html body .end-slide .p-container {
  margin: 15rem 1rem 0 1rem;
}

html body .end-slide .p-container .ending-p {
  text-align: justify;
  font-size: 1.2rem;
}

html body .end-slide .ending-text {
  text-align: justify;
  margin: 12rem 1rem 0 1rem;
  font-size: 1.2rem;
}

html body .end-slide .four-digit-code {
  height: 4rem;
  width: 4rem;
  margin-top: 2rem;
  font-size: 2rem;
  text-align: center;
}

html body .footer-slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  background-color: #708468;
  border-radius: 50% 0% 0%;
  height: 6rem;
  width: 100%;
}

html body .footer-slides .flags-logo {
  max-width: 35px;
  height: auto;
  margin-bottom: 3rem;
  margin-right: 1rem;
}
